<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Order</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
  <h1>Your Order:</h1>

  @* <p>Height: @Model.GetHeight()</p>
  <p>Width: @Model.GetWidth()</p>
  <p>Depth: @Model.GetDepth()</p>
  <p>Weight: @Model.GetWeight()</p>

  <p>Volume: @Model.Volume()</p>
  <p>Cost to ship: @Model.CostToShip()</p> *@


  @foreach (var parcel in Model)
  {
    <p>Height: @parcel.GetHeight()</p>
  }


</body>
</html>
